.main {
    background-image:url('/src/assets/namek.png'); 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  body{
    overflow:hidden;
  }